.section-2{
width: 100%;
justify-content:flex-start;
display: flex;

}
.Heading{
    width: 95vw;
    max-width: 1700px;
    margin: auto;
    display: flex;
}
.Heading1{
    font-size: 40px;
    font-weight: 450;
    font-family: sans-serif;
    padding-left: 1rem;
}
.Heading2{
    font-size: 30px;
    font-weight: 50;
    margin: auto 1.0rem auto 1.0rem; 
    padding-top: 10px;
    color: #292b2c;
    font-family: sans-serif;
}
